

.toB {
  width: 100%;
  padding: 20px;
  color: #fff;

  .title {
    color: #FFF;
    font-size: 20px;
    text-align: center;
    font-family:'Alibaba-PuHuiTi';
    font-weight: bold;
  }

  .up {
    display: flex;
    height: 120px;
    justify-content: space-between;

    &-content {
      width: 600px;
      background-image: url("~@/assets/V2/yszImages/woStudent/2c600x120.png");
      background-size: 100% 100%;
      background-color:rgba(32, 165, 255, 0);

      &-name {
        font-size: 24px;
        text-align: center;
        margin-top: 13px;
        font-family:'Alibaba-PuHuiTi';
        font-weight: bold;
      }

      &-num {
        font-size: 48px;
        font-family: 'DS-DIGII-3';
        text-align: center;
        margin-top: 10px;
        letter-spacing: 4px;
        font-weight: bold;
        color: #78FCFF;
      }
    }
  }

  .down {
    margin-top: 20px;
    display: flex;

    &-left {
      width: 400px;

      &-up {
        height: 523px;
        background-image: url("~@/assets/V2/yszImages/woStudent/400x523.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);

        i {
          width: 13px;
          height: 14px;
          margin-right: 5px;
          display: inline-block;
          background-image: url("~@/assets/V2/yszImages/2b/13x14.png");
          background-size: 100% 100%;
        }

        label {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 10px;
          display: inline-block
        }

        span {

          font-size: 16px;
          color: #F3AA72;
          line-height: 27px;
          letter-spacing: 3px;
        }

        &-content {
          height: 500px;
          padding: 25px 12px 10px 30px;
          font-size: 14px;

          &-up {
            height: 360px;

            &-row {
              height: 33px;
              overflow: hidden;
              word-break: keep-all;
              white-space: nowrap;
              text-overflow: ellipsis;
          
            }

            .el-scrollbar {

              height: 245px;
              text-indent: 2em;

              /* 缩进 */
              & /deep/ .el-scrollbar__wrap {
                overflow-x: auto;
                overflow-y: auto;

                .el-scrollbar__view {
                  width: 358px;
                }
              }
            }
          }

          .dividing-line {
            width: 349px;
            height: 2px;
            background-color: #2B82F5;
          }

          .time-line {
            color: #fff;
            font-size:14px;
            padding:2px 0 0 20px;
            position: relative;
            &-data{
              display:flex;
              align-items: center;
              margin-top:18px;
              .circle{
                display:inline-block;
                height:14px;
                width:14px;
                border-radius: 50%;;
                background-color: #2B82F5;
                margin-right:20px;
              }
              span {
                color: #167af6;
                font-size:20px;
                font-weight: bold;
                display: inline-block;
                font-family: 'Alibaba-PuHuiTi'L;
              }
              .time-line-font{
                color: #f3aa72;
              }
              
            }
            .link-right{
              position: absolute;
              top:40px;
              height:33px;
              width:7px;
              border-right:solid #167af6 1px;
            }
          }


          // .time-point1 {
          //   position: absolute;
          //   left: 84px;
          //   top: 646px;
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          //   b{
          //     width: 200px;
          //     color: #f3aa72;
          //     position: absolute;
          //     left: 38px;
          //     top: 27px;
          //   }
          // }

          .time-point2 {
            position: absolute;
            left: 100px;
            top: 655px;
            display: flex;
            justify-content: center;
            align-items: center;

            b {
              width: 200px;
              color: #f3aa72;
              position: absolute;
              left: 108px;
              top: 9px;
            }
          }

          .time-point3 {
            position: absolute;
            left: 234px;
            top: 700px;
            display: flex;
            justify-content: center;
            align-items: center;

            b {
              width: 200px;
              color: #f3aa72;
              position: absolute;
              left: 33px;
              top: 27px;
            }
          }
        }

      }

      &-down {
        margin-top: 20px;
        height: 251px;
        background-image: url("~@/assets/V2/yszImages/woStudent/400x252.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);
       
        .light {

          img {
            position: relative;
            left: 152px;
            top: 83px;
          }

          span {
            position: relative;
            left: 45px;
            top: 117px;
          }
        }

        &-content {
          height: 217px;
          padding: 20px 12px 20px 30px;

          &-main {
            height: 67px;
          }

          .light-point {
            height: 29px;
            font-size: 18px;
            color: #7EFEFD;
            // background: url("~@/assets/V2/yszImages/woStudent/light-point.png") no-repeat;
            // padding: 10px 0 0 33px;
            margin-top: 9px;
          }

          .light-section {
            // position: relative;
            // left: 2px;
            // top: 8px;
            vertical-align:middle;
          }
        }
      }
    }

    &-center {
      width: 780px;
      margin-left: 20px;

      &-up {
        height: 252px;
        background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/780x252.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);

        .incomesFlag{
          position: relative; 
          top: -153px; 
          left: 339px;
        }
      }

      &-center {
        margin-top: 20px;
        height: 252px;
        background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/780x252.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);

        .usersFlag{
          position: relative;
          top: -155px;
          left: 331px;
        }
      }

      &-down {
        margin-top: 20px;
        height: 251px;
        display: flex;

        &-left {
          width: 360px;
          background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/360x252.png");
          background-size: 100% 100%;
          background-color:rgba(32, 165, 255, 0);

          .openFlag{
            line-height: 200px;
             text-align: center;
          }
        }

        &-right {
          margin-left: 20px;
          width: 400px;
          background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/360x252.png");
          background-size: 100% 100%;
          background-color:rgba(32, 165, 255, 0);

          .userGroupsFlag{
            position: relative;
            top: 100px;
            left: 148px;
          }
        }
      }
    }

    &-right {
      width: 660px;
      margin-left: 20px;

      &-up {
        height: 523px;
        background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/660x523.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);

      }

      &-center {
        margin-top: 18px;
        height: 251px;
        background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/660x251.png");
        background-size: 100% 100%;
        background-color:rgba(32, 165, 255, 0);

      }

      // &-down {
      //   margin-top: 19px;
      //   height: 188px;
      //   background-image: url("~@/assets/V2/yszImages/woStudent/wo2c/detail.png");
      //   background-size: 100% 100%;

      //   &-content {
      //     width: 609px;
      //     text-align: center;
      //     margin: 0 auto;

      //     .header {
      //       margin: 10px 0 10px 0;
      //       display: flex;
      //       height: 40px;
      //       line-height: 40px;
      //       background-image: url("~@/assets/V2/yszImages/608x40.png");
      //       background-size: 100% 100%;
      //     }

      //     .header-text {
      //       width: 203px;
      //       font-size: 18px;
      //       color: #7EFEFD;
      //     }

      //     .content {
      //       display: flex;
      //       height: 30px;
      //       width: 626px;
      //       //  background-color: #2B82F5;

      //     }

      //     .content-text {

      //       width: 203px;
      //       font-size: 14px;
      //     }
      //   }
      // }
    }
  }
}

div /deep/.el-scrollbar {
  height: 88px;


  & /deep/ .el-scrollbar__wrap {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}